/* global */
* {
  margin: 0;
  padding: 0;
}

/* header */

.logo-desktop {
  display: none;
}

.logo-mobile {
  height: 3.5rem;
  margin: .8rem;
}

header {
  display: flex;
  justify-content: space-between;
}

header nav li {
  list-style: none;
  text-transform: uppercase;
}

header nav a {
  text-decoration: none;
  color: #2D2A32;
  font-weight: bold;
}

.social-links {
  display: none;
}


/* footer */

footer {
  display: flex;
  justify-content: center;
  background-color: #F04d4d;
  padding: 1.5rem 0rem;
}

footer a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
